@media (max-width: 600px), (max-device-width: 600px) {
  .button-close {
    top: 10px;
    right: 10px;

    &::before,
    &::after {
      background-color: $txt;
    }
  }
  .ifawModal-container {
    width: 90%;
    height: auto;
    padding: 25px;
    .content {
      display: block;
      .right {
        margin-left: auto;
        margin-right: auto;
      }
      p.success {
        font-size: 18px;
        margin-right: auto;
        margin-top: 40px;
      }
      .title,
      .subtitle,
      h2.success {
        font-size: 32px;
        margin: auto;
      }
      .subtitle {
        margin-right: auto;
      }
      .arrow {
        display: none;
      }
      .logo {
        display: none;
      }
      /* form starting stylings ------------------------------- */
    }
    .cta {
      margin-top: 35px;
    }
  }
}
